# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# Modelos ya generados
models/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Logs
*.log

# Caché
.pytest_cache/
.mypy_cache/

# Docker
docker-compose.override.yml